<section>
  <h4>Skills</h4>
  <form [formGroup]="skillsForm" (ngSubmit)="onSubmit()">
    <div class="form-container">
      <div class="checkbox-input">
        <input type="checkbox" id="angular" formControlName="Angular" />
        <label for="angular"> Angular </label>
      </div>
      <div class="checkbox-input">
        <input type="checkbox" id="javascript" formControlName="JavaScript" />
        <label for="javascript"> JavaScript </label>
      </div>
      <div class="checkbox-input">
        <input
          type="checkbox"
          id="microservicios"
          formControlName="Microservicios"
        />
        <label for="microservicios"> Microservicios </label>
      </div>
    </div>
    <button>Save Candidate</button>
  </form>
</section>
